/* text styling */
img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

blockquote {
	background-color: rgba(255,255,255,0.10);
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

code {
	display: inline-block;
    background: rgba(0,0,0,0.20);
    padding: 5px;
}

pre {
    overflow-x: auto;
}

h1 {
	line-height: normal;
	font-size: 300%;
	color: #de6b15;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 125%;
}

a {
    color: rgba(81,185,255);
	text-decoration: none;
}

a:hover {
    color: rgba(81,185,255,0.50);
	text-decoration: none;
}

a.white {
    color: white;
}

a.white:hover {
    color:rgba(255, 255, 255, 0.50);
}

li {
    padding: 2px 0;
}

/* Table */
table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

tr {
    border-bottom: 1px solid rgb(50, 50, 50);
}

thead {
    text-align: left;
}

td {
    padding-right: 40px;
}

/* icon */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v120/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOc7TOVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}

.icon {
    font-family: 'Material Symbols Rounded';
    user-select: none;
}

/* Structure */
html {
	display: flex;
	min-height: 100%;
    color: rgba(220,220,220);
    background-color: #141516;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #242424 1px, rgba(0, 0, 0, 0) 1px);
	padding: 30px;
	box-sizing: border-box;
}

body {
	display: flex;
	min-width: 100%;
    min-height: 100%;
	font-family: 'Inter', sans-serif;
	line-height: 1.7;
	margin: 0;
    flex-direction: column;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.content {
    width: 900px;
    max-width: 100%;
    padding-bottom: 20px;
	padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header #left {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 25px
}

.header #right {
    width: 100%;
}

.header #center {
    text-wrap: nowrap;
}

/* Buttons */
.roundedButton
{
    text-wrap: nowrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.transparentButton
{
    display: flex;
    flex-direction: row;
    border-radius: 500px;
    gap: 10px;
    padding: 8px 20px;
}

.links
{
    margin: 5px 5px;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
	row-gap: 15px;
}

.stack
{
    display: flex;
    flex-direction: column;
}

#nextprev {
    padding-top: 40px;
}

#nextprev #next, #nextprev #prev{
    max-width: 40%;
    overflow:hidden;
}

/* animation */
@keyframes reveal2 {
    from { opacity: 0.1; }
    to { opacity: 1; }
}

.anim1,body {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 0s;
    }

.anim2,.content {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 300ms;
}

.anim3 {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 450ms;
}

.anim4 {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 600ms;
}

.anim5 {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 750ms;
}

.anim6 {
    opacity: 0;
    animation: reveal2 .5s forwards;
    animation-delay: 900ms;
}

/* home page only */
.h1t {
    font-size: 500%;
    margin: 0;
}

.h2t {
    margin: 15px 5px;
}

hr {
    border: 1px solid #ffffff1f;
    margin: 60px 0;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.grid .proj {
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-radius: 10px;*/
    box-sizing: border-box;
    padding: 10px;
    max-width: 100%;
}

a:hover .proj-thumb {
    opacity: 50%;
}

.grid .proj-thumb {
    width: 400px;
    max-width: 100%;
    aspect-ratio: 1/1;
    background-color: #222;
}

.proj-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* mobile */
@media only screen and (max-width: 900px) {
    .header {
        margin: 10px;
    }
    .footer {
        margin: 10px;
    }
    .h1t {
        font-size: 300%;
    }
}