<div class="header">
    <div id="left">
        {% if page.url != "/" %}
        <a class="anim0" href="{{ page.parent.url }}">
            <div class="roundedButton">
                <span class="icon">arrow_upward</span>
                <span>Up</span>
            </div>
        </a>
        {% else %}
        <span class="icon" style="color: white;">home</span>
        {% endif %}
    </div>

    <div id="center">
        {% if page.url != "/" %}
        <a href="/" class="white">{{site.title|e}}</a>
        {% endif %}
    </div>

    <div id="right">

    </div>
</div>