<ul>
    {% for current_page in page.children %}
        <li>
            <a href="{{ current_page.url|e }}">
                {{ current_page.title|e }}
            </a>
        </li>
    {% endfor %}
</ul>
