<div class=links>
    {% if page.parent.url != "/" %}
    <a class="anim3" href="{{ page.parent.url }}">
        <div class="roundedButton">
            <span class="icon">arrow_back</span>
            <span>Back</span>
        </div>
    </a>
    {% endif %}
    <a class="anim4" href="/">
        <div class="roundedButton">
            <span class="icon">home</span>
            <span>Home</span>
        </div>
    </a>
</div>
