{% if page.parent.parent.url == "/" %}
<div class="links" id="nextprev">
    {% set prevPage = page.parent.children().nth(page.parent.children().currentPosition(page.path)-1) %}
    {% if prevPage %}
    <a class="anim2" id="prev" href="{{ prevPage.url }}">
        <div class="roundedButton">
            <span class="icon">arrow_back</span>
            <div class="stack">
                <span>Previous</span>
                <span>{{ prevPage.title }}</span>
            </div>
        </div>
    </a>
    {% endif %}

    {% set nextPage = page.parent.children().nth(page.parent.children().currentPosition(page.path)+1) %}
    {% if nextPage %}
    <a class="anim3" id="next" href="{{ nextPage.url }}">
        <div class="roundedButton">
            <span class="icon">arrow_forward</span>
            <div class="stack">
                <span>Next</span>
                <span>{{ nextPage.title }}</span>
            </div>
        </div>
    </a>
    {% endif %}
</div>
{% endif %}
